@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:wght@400;700;800&family=Josefin+Sans:wght@400;600&family=Lexend+Deca&family=Oswald:wght@200&family=Pixelify+Sans:wght@400;600;700&family=Roboto:wght@300;400;700&family=Ubuntu:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:wght@400;700;800&family=Josefin+Sans:wght@400;600&family=Lexend+Deca&family=Oswald:wght@200&family=Pixelify+Sans:wght@400;600;700&family=Roboto:wght@300;400;700&family=Ubuntu:wght@400;500;700&display=swap');

/* BACKGROUND */
body {
  background-image: url(../img/FUNDO_3.jpg);
  background-position: center;
  background-size: cover;
  overflow-x: hidden;


  font-family:'Ubuntu', sans-serif;
}

.logo-rick-and-morty{
  width: 100px;
}

.image-card {
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}

.card {
  font-size: 13px;
  border-radius: 10px;

  transition: 0.8s;
}

.card:hover{
  background-color: #56CD42 !important;
}

.no-outline:focus {
  box-shadow: none;
}

::-webkit-input-placeholder {
  font-size: 20px !important;
  font-family: 'Ubuntu', sans-serif !important;
  color: #105718 !important;
}

.character_details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal-body {
  background-image: url(../img/paradise-rick.jpeg);
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

.image-top {
  width: 100px;
}

