/* VARIÁVEIS */
:root {
  --cor-primary: #17594a;
  --cor-secundary: #a6ff96;
  --cor-tertiary: #040d12;
  --cor-quartiary: #016a70;
  --cor-fifth: #f5f5f5;
  --cor-sixth: #b9b4c7;
}

/* INTRUÇÕES GERAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BACKGROUND */
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    287.56deg,
    var(--cor-primary) 0%,
    var(--cor-secundary) 100%
  );

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  color: var(--cor-sixth);
}

/* HEADER */
header {
  box-shadow: 0 0 10px 10px var(--cor-tertiary);
}

header nav {
  background-color: var(--cor-tertiary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header nav img {
  width: 90px;
  margin-left: 20px;
}

.search_bar {
  width: 600px;
  height: 60px;
  border-radius: 20px;
  margin-right: 20px;

  transition: 0.6s;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_btn {
  margin-right: 10px;
}

.search_text {
  width: 0px;
  background: none;
  border: 0;
  outline: 0;
  padding: 0;
  margin-left: 10px;
  color: var(--cor-primary);

  transition: 0.6s;

  font-size: 17px;
}

.portal_btn {
  width: 60px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.rick_btn {
  display: none;
  width: 60px;
  height: 60px;
}

nav:hover > .search_bar .search_text {
  width: 500px;
  height: 50px;
  border-radius: 10px;
  margin-left: 20px;
}

nav:hover > .search_bar {
  background-color: var(--cor-secundary);
}

.search_bar:hover > .search_btn .portal_btn {
  display: none;
}

.search_bar:hover > .search_btn .rick_btn {
  display: block;
}

::-webkit-input-placeholder {
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--cor-quartiary);
}

/* MAIN */
main {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.character_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character_card {
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  width: 300px;
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  box-shadow: 0 0 10px 10px var(--cor-secundary);
}

.character_card img {
  width: 8rem;
  height: 8rem;
}

.character_card h3 {
  color: var(--cor-tertiary);
  font-weight: 600;
}

.character_card p {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  color: var(--cor-sixth);
}

/* FOOTER */
footer {
  bottom: 0;
  position: fixed;
  width: 100vw;
  text-align: center;

  background: var(--cor-tertiary);
  box-shadow: 0 0 10px 10px var(--cor-tertiary);
}

#data_api {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;

  font-size: 12px;
  margin: 30px 0px 30px;
  font-weight: 600;
}

.developer_create {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 12px;
}
